header{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(143,142,150,1) 36%, rgba(0,0,0,1) 85%);
    padding: 20px 0;
    color: white;
}

nav li{
    display: inline;
    
}

header a{
    color: white;
    text-decoration: none;
}

nav li:hover{
    transition-delay: 10ms;
    font-size: 30px;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

ul{
    display: flex;
    list-style-type: none;
    font-weight: bold;
    font-size: 23px;
    
}

li+li{
    margin-left: 15px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 33%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 3px black;
    border-radius: 15px;
}

.produtos li:hover{
    border-color: blue;
    font-size: 40px;
}

.produtos li:active{
    border-color:green;
}

.produtos li:hover h2{
    font-size: 34px
}

img{
    margin: 10px 0;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
}

.preco{
    font-size: 25px;
    font-weight: bold;
}

footer{
    text-align: center;
    background:url(imagens/bg.jpg);
    padding: 40px 0;
    color: white;
    font-size: 13px;
}

footer p {
    margin: 10px;
}